*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    text-align: center;
    margin-top: 40px;
}

h2{
    margin-bottom: 40px;
    color: #E43571;
    font-size: 40px;
}

